<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CourierDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\CourierSystem\CourierSystemWPF\CourierSystemWPF\CourierDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>