<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CourierDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Macau\Documents\GitHub\courier-system\CourierSystemWPF\CourierDB.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>